html {
  margin: 0;
  width: 100%;
}
body {
  background: #2c3e50;
  color: #ecf0f1;
  font-family: 'Lato', sans-serif;
  margin: 0;
  width: 100%;
}
h1 {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 12px;
  text-align: center;
}
h1 i {
  color: #2980b9;
  margin-left: 5px;
  font-weight: bold;
}
h1 img {
  margin-left: 4px;
  width: 24px;
}
h1 a {
  color: #bdc3c7;
  font-size: 17px;
}
a {
  text-decoration: none;
}
table {
  background: #34495e;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
.clipinfo {
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
  max-width: 70%;
  width: 70%;
}
.clipinfo th {
  text-align: center;
}
.clipinfo th div {
  padding: 0px 9px 2px 8px;
}
.allclips tbody .plain:nth-child(odd) {
  background: #2f4254;
}
.allclips tbody .plain:hover {
  background: #2980b9;
  cursor: pointer;
}
.allclips tbody .plain:hover td .tag {
  background: #2980b9;
}
.allclips tbody .date_header {
  background: #3e566d;
  border-bottom: solid 1px #bdc3c7;
  border-top: solid 1px #bdc3c7;
}
.allclips thead tr {
  background: #34495e;
}
.allclips td,
.allclips th {
  padding: 5px;
  min-width: 110px;
}
th {
  padding: 2px;
  text-align: left;
}
th div {
  border-bottom: solid 1px #ecf0f1;
  display: inline-block;
  font-size: 13px;
  padding: 0px 1px 2px 1px;
}
td {
  color: #bdc3c7;
  font-size: 15px;
  padding: 5px 3px;
}
td .box {
  align-items: center;
  display: flex;
  justify-content: center;
}
td .hero {
  width: 22px;
}
td .external {
  border-radius: 9px;
  display: inline-block;
  margin: 0px 2px;
  width: 18px;
  opacity: 70%;
}
td .external:hover {
  opacity: 100%;
}
td .matchid {
  margin-left: 5px;
}
td .date {
  font-weight: bold;
  font-size: 16px;
}
td .tag {
  background: #3e566d;
  border-radius: 4px;
  margin: 0px 2px;
  overflow: hidden;
  padding: 3px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
td a {
  color: #bdc3c7;
}
td a .tag:hover {
  color: #c4c7cb;
  background: #455c73;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70%;
}
.description {
  color: #bdc3c7;
  font-size: 15px;
  text-align: center;
}
